body {
    margin: 0;
    padding: 0;
    background: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none; /*запрет выделять текст*/
}

.container {
    width: 200px;
    height: 94px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 100%;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #ffffff, #7a99ff, #004370);
    border: 1px solid #313d4e;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding-top: 1px;
    padding-right: 4px;
}
.wtime {
    margin: 0;
    margin-left: 12px;
    font-size: 28px;
    font-weight: lighter;
    color: #ffffffb7;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.wtime span {
    display: inline-block;
}
.wtime #hours {
    font-size: 36px;
    font-weight: bold;
    color: #ffffffe0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.wtime #minutes {
    font-size: 36px;
    font-weight: lighter;
    color: #ffffff6a;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.wtime #seconds {
    font-size: 16px;
    color: #00000039;
}
.wdate {
    margin: 0;
    font-size: 11px;
    color: #ffffff8a;
}

.buttons {
    text-align: right;
    font-size: 8px;
}